@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: auto;
}
.yellow{
    background-color: darkorange;
    padding: 20px;
    margin-top: 20px;
    width: 240px;
}
.white{
    background-color: gainsboro;
    padding: 20px;
    margin-top: 20px;
    width: 240px;
}
button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    margin: 10px 0px;
}
p{
    margin: 5px 0px;
    font-weight: 500;
}